:81 {
	@transform_port_query {
		query XTransformPort=*
	}

	handle @transform_port_query {
		reverse_proxy localhost:{query.XTransformPort} {
			header_up Host {host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Real-IP {remote_host}
			header_up Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
			header_up X-Content-Type-Options "nosniff"
			header_up X-Frame-Options "SAMEORIGIN"
			header_up X-XSS-Protection "1; mode=block"
			header_up Referrer-Policy "origin-when-cross-origin"
		}
	}

	handle {
		reverse_proxy localhost:3000 {
			header_up Host {host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Real-IP {remote_host}
			header_up Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
			header_up X-Content-Type-Options "nosniff"
			header_up X-Frame-Options "SAMEORIGIN"
			header_up X-XSS-Protection "1; mode=block"
			header_up Referrer-Policy "origin-when-cross-origin"
		}
	}
}
